{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="center"><h1>Jobs</h1></div>

<p class="my-list">
    <a class="btn btn-primary " href="/addjob">Add job</a>
</p>

<div class="center my-list">

    <table width="100%">

        {% for item in jobs%}
        <tr align="left">
            <td>Action # {{ item.id }}</td>
        </tr>
    <tr align="left">
        <th class="standard-head">Title of activity</th>
        <th class="standard-head">Team leader</th>
        <th class="standard-head">Duration</th>
        <th class="standard-head">List of collaborators</th>
        <th class="standard-head">Is finished</th>
    </tr>

    <tr align="left">
        <td class="standard-cell">{{ item.job }}</td>
        <td class="standard-cell">{{ item.leader.name }} {{ item.leader.surname }}</td>
        <td class="standard-cell">{{ item.work_size }} hours</td>
        <td class="standard-cell">{{ item.collaborators }}</td>
        <td bgcolor="{% if not item.is_finished %}#ffeefe{% else %}#eefffe{% endif %}">Is {% if not item.is_finished %}not {% endif %}finished</td>
    </tr>
        {% if current_user.is_authenticated and (current_user.id == item.team_leader or current_user.id == 1) %}
        <tr>
            <td>
                <a href="/jobs/{{ item.id }}" class="btn btn-warning">Edit job</a>
                <a href="/job_delete/{{ item.id }}" class="btn btn-danger">Delete job</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>

{% endif %}

{% endblock %}
